---
name: Build

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync

      - name: Build package
        run: uv build

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          path: ./dist/

      - name: Publish
        if: ${{ github.event_name == 'release' }}
        run: uv publish
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_PASSWORD }}

